.flex-container {
  display: flex;
  background-color: #6699ff;;
}

.flex-container > div {
  background-color: #66b0ff;
  align-self: center;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  color: white;
  width: 50%;
}
