
// Taulukon asetukset
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  border-bottom: 1px solid #ddd
  padding: 8px;
  width: 220px;
  color: white;
  font-size: 13px;
}

td {
  text-align: left;
  padding: 8px;
  font-size: 13px;
}

tr:nth-child(even) {
  background-color: #006622;
}
